.config/gtk-3.0/colors.css
.config/gtk-3.0/settings.ini
.config/gtk-4.0/colors.css
.config/gtk-4.0/settings.ini
.config/hypr/components/colors.conf
.config/kitty/theme/custom_theme.conf
.config/swaync/colors.css
.config/waybar/colors.css
