.config/gtk-3.0/colors.css
.config/gtk-3.0/noctalia.css
.config/gtk-4.0/colors.css
.config/gtk-4.0/noctalia.css
.config/hypr/noctalia/noctalia-colors.conf
.config/kitty/themes/noctalia.conf
.config/qt6ct/colors/noctalia.conf
.config/zsh/.zcompdump
.config/zsh/modules/secrets.zsh

