@import "colors.css";

* {
  all: unset;
  font-family: 'SF Pro Rounded', 'Ubuntu Nerd Font Propo';
  font-weight: 800;
  font-size: 14px;
  border-radius: 5px;
  margin: 1px 2px;
}

/* -----------------------------------------------------
 * Modules positioning
 * ----------------------------------------------------- */
.modules-right {
  margin-right: 1px;
  padding: 0px;
}

.modules-left {
  margin-left: 1px;
  padding: 0px;
}

/* -----------------------------------------------------
 * Waybar window
 * ----------------------------------------------------- */
window#waybar {
  color: @on_surface;
  background: transparent;
  transition-property: background-color;
  transition-duration: .5s;
}

window#waybar.empty,
window#waybar.empty #window {
  background-color: transparent;
  border: none;
  padding: 0px;
  margin: 0px;
}

/* -----------------------------------------------------
 * Workspaces 
 * ----------------------------------------------------- */
#workspaces button {
  color: @outline;
  background-color: @backgroundBlurNoActive;
  transition: all 0.6s ease-in-out;
  min-width: 29px;
  margin: 0px 2px;
}

#workspaces button.active,
#workspaces button:hover {
  color: @on_surface;
  background: @backgroundBlurActive;
  border: 1px solid @surface_bright;
}

/* -----------------------------------------------------
* Shared
* ----------------------------------------------------- */
tooltip,
#custom-updates,
#network,
#network.ethernet,
#network.wifi,
#memory,
#bluetooth,
#group_cpu,
#bluetooth.on,
#bluetooth.connected,
#pulseaudio,
#clock,
#custom-weather_temp,
#custom-notification {
  background-color: @backgroundBlurActive;
  padding: 2px 5px;
  color: @on_surface;
  border: 1px solid @surface_variant;
}

/* -----------------------------------------------------
* Custom CPU Temp
* ----------------------------------------------------- */
#custom-cpu_temp {
  padding: 0px 5px;
}

#custom-cpu_temp.low {
  background-color: @primary_container;
}

#custom-cpu_temp.medium {
  background-color: @tertiary_container;
}

#custom-cpu_temp.high {
  background-color: @error_container;
}

/* -----------------------------------------------------
 * Bluetooth
 * ----------------------------------------------------- */
#bluetooth.off,
#bluetooth.disabled {
  background-color: @outline;
}

/* -----------------------------------------------------
 * Pulseaudio
 * ----------------------------------------------------- */
#pulseaudio.muted,
#pulseaudio.source-muted {
  background-color: @inverse_on_surface;
  color: @on_surface;
  border: 2px solid @error_container;
}

/* -----------------------------------------------------
 * Notification
 * ----------------------------------------------------- */
#custom-notification {
  font-size: 16px;
}

/* -----------------------------------------------------
 * Tray
 * ----------------------------------------------------- */
#tray {
  padding: 0px 5px;
  border: 2px solid @primary;
}

#tray menu {
  background-color: @background;
  padding: 5px;
}