@import "colors.css";

@define-color textcolor @on_surface;

* {
  font-family: 'SF Pro Rounded', 'Ubuntu Nerd Font Propo';
  font-weight: 800;
  border: none;
}

window#waybar {
  background: transparent;
  transition-property: background-color;
  transition-duration: .5s;
  border-radius: 6px;
}

/* -----------------------------------------------------
 * Workspaces 
 * ----------------------------------------------------- */
#workspaces {
  margin: 2px 10px 2px 5px;
  border-radius: 6px;
}

#workspaces button,
#workspaces button.active,
#workspaces button:hover {
  color: @textcolor;
  background: @backgroundBlurActive;
  border-radius: 3;
}

#workspaces button {
  margin: 2px 2px;
  padding: 1px 3px 0px;
  border-radius: 4px;
  background-color: @backgroundBlurNoActive;
  transition: all 0.3s ease-in-out;
  color: @outline_variant;
}

#workspaces button.active {
  background-color: @backgroundBlurActive;
  border-radius: 3px;
  min-width: 25px;
  transition: all 0.3s ease-in-out;
}

window {
  background-color: transparent;
  color: @textcolor;
}

/* -----------------------------------------------------
* Tooltips
* ----------------------------------------------------- */
tooltip {
  margin: 0px;
  padding: 5px;
  border-radius: 10px;
  opacity: 0.8;
}

tooltip label {
  color: @textcolor;
}

/* -----------------------------------------------------
* Shared
* ----------------------------------------------------- */
tooltip,
#custom-empty,
#custom-updates,
#custom-wallpaper-change,
#custom-power-menu,
#network,
#network.ethernet,
#network.wifi,
#memory,
#cpu,
#custom-cpu_temp,
#bluetooth,
#bluetooth.on,
#bluetooth.connected,
#pulseaudio,
#clock,
#custom-weather_temp,
#custom-notification {
  background-color: @backgroundBlurActive;
  border-radius: 6px;
  color: @textcolor;
}

#window,
#custom-empty,
#custom-power-menu,
#custom-updates,
#custom-wallpaper-change,
#network,
#memory,
#cpu,
#custom-cpu_temp,
#bluetooth,
#bluetooth.on,
#bluetooth.connected,
#bluetooth.off,
#bluetooth.disabled,
#pulseaudio {
  margin: 2px 5px 2px 0px;
}

#window,
#pulseaudio,
#clock,
#bluetooth {
  padding: 0px 5px 0px 5px;
}

#custom-updates {
  padding: 0px 3px 0px 5px;
}

#window,
#custom-weather_temp,
#custom-empty,
#custom-updates,
#custom-wallpaper-change,
#custom-power-menu,
#network,
#memory,
#cpu,
#custom-cpu_temp,
#bluetooth,
#bluetooth.on,
#bluetooth.connected,
#pulseaudio,
#clock {
  font-size: 14px;

}


/* -----------------------------------------------------
 * Window
 * ----------------------------------------------------- */
window#waybar.empty #window {
  background-color: transparent;
  border: none;
}


/* -----------------------------------------------------
* Hardware Group
* ----------------------------------------------------- */
#network,
#memory,
#cpu,
#custom-cpu_temp {
  padding: 0px 3px 0px 5px;
}

#custom-cpu_temp.low {
  background-color: @primary_container;
}

#custom-cpu_temp.medium {
  background-color: @tertiary_container;
}

#custom-cpu_temp.high {
  background-color: @error_container;
}

/* -----------------------------------------------------
 * Bluetooth
 * ----------------------------------------------------- */
#bluetooth.off,
#bluetooth.disabled {
  background-color: @outline;
}

/* -----------------------------------------------------
 * Pulseaudio
 * ----------------------------------------------------- */
#pulseaudio.muted,
#pulseaudio.source-muted {
  background-color: @outline;
  color: @textcolor;
}

/* -----------------------------------------------------
* Clock
* ----------------------------------------------------- */
#clock {
  margin: 2px 0px 2px 0px;
}

#custom-notification {
  margin: 2px 0px 2px 5px;
  padding: 0px 5px 0px 5px;
  font-size: 16px;
}

#custom-weather_temp {
  margin: 2px 0px 2px 5px;
  padding: 0px 6px 0px 2px;
}

#tray {
  margin: 2px 5px 2px 5px;
  padding: 0px 5px 0px 5px;
  border-radius: 6px;
  border: 2px solid @primary;
}