/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #242424FF;
    background-alt: #282B31FF;
    foreground:     #FFFFFFFF;
    selected:       #2DA5D6FF;
    active:         #98C379FF;
    urgent:         #E06B74FF;
}
