@import 'colors.css';

.floating-notifications .notification {
    border-radius: 5px;
}

.floating-notifications .notification .notification-default-action,
.floating-notifications .notification .notification-action {
    border-radius: 5px;
}

.floating-notifications .notification {
    transition: all 0.3s ease-in-out;
}

.control-center {
    background: @backgroundBlurActive;
    border-radius: 5px;
    border: 2px solid @primary;
}

/* Largura dos botões do buttons-grid */
.widget-buttons-grid>flowbox>flowboxchild>button {
    min-width: 56px;
}

.widget-buttons-grid {
    margin: 0;
}

/* Ocultar scrollbar */
scrollbar {
    opacity: 0;
    width: 0;
}

scrollbar slider {
    opacity: 0;
    min-width: 0;
    min-height: 0;
}

scrollbar trough {
    opacity: 0;
}
