@import 'colors.css';


.floating-notifications .notification {
    border-radius: 5px;
}

.floating-notifications .notification .notification-default-action,
.floating-notifications .notification .notification-action {
    border-radius: 5px;
}

.floating-notifications .notification {
    transition: all 0.3s ease-in-out;
}

.control-center {
    background: @backgroundBlurActive;
    border-radius: 5px;
    padding: 8px;
    border: 2px solid @primary;
}

