:vars {
  --background-blur-no-active: {{colors.surface.default.rgba}};
  --background-blur-active: {{colors.surface.default.rgba  }};--background-blur-no-active: rgba({{colors.surface.default.red}}, {{colors.surface.default.green}}, {{colors.surface.default.blue}}, 0.2);
  --background-blur-active: rgba({{colors.surface.default.red}}, {{colors.surface.default.green}}, {{colors.surface.default.blue}}, 0.5);
  --foreground: {{colors.on_background.default.hex}};
  --background: {{colors.background.default.hex}};
  --cursor: {{colors.on_background.default.hex}};
  --primary: {{colors.primary.default.hex}};
  --on-primary: {{colors.on_primary.default.hex}};
  --secondary: {{colors.secondary.default.hex}};
  --on-secondary: {{colors.on_secondary.default.hex}};
  --tertiary: {{colors.tertiary.default.hex}};
  --on-tertiary: {{colors.on_tertiary.default.hex}};
  --surface: {{colors.surface.default.hex}};
  --surface-bright: {{colors.surface_bright.default.hex}};
  --error: {{colors.error.default.hex}};
  --error-dim: {{colors.error.default.hex | set_lightness: -10.0}};
  --on-error: {{colors.on_error.default.hex}};
  --error-container: {{colors.error_container.default.hex}};
  --outline: {{colors.outline.default.hex}};
  --shadow: {{colors.shadow.default.hex}};
  --inverse-primary: {{colors.inverse_primary.default.hex}};
}