gtk-theme-name="adw-gtk3"
gtk-icon-theme-name="Colloid-Dark"
gtk-font-name="Ubuntu Nerd Font 10"

style "user-theme"
{
  bg[NORMAL]    = "{{colors.background.default.hex}}"
  fg[NORMAL]    = "{{colors.on_background.default.hex}}"
  base[NORMAL]  = "{{colors.surface.default.hex}}"
  text[NORMAL]  = "{{colors.on_surface.default.hex}}"
  selected_bg[NORMAL] = "{{colors.primary.default.hex}}"
  selected_fg[NORMAL] = "{{colors.on_primary.default.hex}}"
}
widget_class "*" style "user-theme"